


#bookDetails,
#bookImage {
    width: 50%;
    display: flex;
}


#bookDetails input[type=text],
#bookDetails textarea {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: none;

    border-radius: 0;

    background-color: transparent;
    /* margin-bottom: 10px; */
    padding: 0;

    /* font-size: 16px; */
    width: 100%;
}


.bookEditing {
    width: 100%;
}

.bookEditingDiv {
    width: 100%;
}

.editTitleDiv {
    margin-bottom: 10px;
    display: flex;
}

.bookEditing h2 {
    display: inline;
}

.bookEditing .editTitle {
    color: rgb(35, 60, 79);
    font-size: 36px;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 10px;
}

.bookEditing .editAuthor {
    font-size: 16px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.bookEditing .editImage {
    width: 128px;
    margin-bottom: 30px;
    border-radius: 5px;
}

.bookEditing .editCategory,
.bookEditing .editPublicationDate,
.bookEditing .editDescription,
.bookEditing .editImageURL {
    font-size: 16px;
    margin-bottom: 15px;
    text-decoration: underline;
}

#bookImage {
    min-height: calc(100vh - 400px);
    image-rendering: pixelated;
    /* filter: grayscale(100%); */
}



.bookEditing fieldset input[type=checkbox], 
.bookEditing fieldset label {
    display: inline;
}

.bookEditing fieldset label {
    display: inline;
    margin-right: 20px;
}

.bookEditing fieldset input[type=checkbox],
.bookEditing fieldset input[type=radio] {
    display: inline;
    margin-right: 5px;
}