


#bookDetails,
#bookImage {
    width: 50%;
    display: flex;
}

#showBook ul.category {
    margin-bottom: 10px;
}

#showBook ul {
    margin-bottom: 30px;
}

#showBook ul li {
    display: inline;
    margin-right: 20px;
    font-weight: 100;
}

#showBook img {
    margin-bottom: 30px;
    width: 128px;
    border-radius: 5px;
}

#showBook p {
    margin-bottom: 10px;
}

#showBook .description {
    margin-bottom: 30px;
}

/* #bookDetails {
    margin: 100px 80px 100px 160px;
} */

#bookImage {
    min-height: calc(100vh - 400px);
    image-rendering: pixelated;
    /* filter: grayscale(100%); */
}


#showBook fieldset input[type=checkbox], 
#showBook fieldset label {
    display: inline;
}

#showBook fieldset label {
    display: inline;
    margin-right: 20px;
}

#showBook fieldset input[type=checkbox],
#showBook fieldset input[type=radio] {
    display: inline;
    margin-right: 5px;
}
