/*  ===========================================================================
//  Footer.module.css
//  ===========================================================================
//  - 
//  =======================================================================  */




/*  ===========================================================================
//  Tags
//  =======================================================================  */
footer {
    height: 100px;
    background-color: rgb(35, 60, 79, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--yellow);
    font-weight: bold;
}