

#newBook label {
    margin-bottom: 10px;
    display: block;
}

#newBook input[type=text],
#newBook textarea,
fieldset {
    margin-bottom: 20px;
}

.searchLink {
    text-decoration: underline;
    cursor: pointer;
    font-weight: lighter;
}

.searchLink:hover {
    color: var(--orange);
}

#newBook fieldset input[type=checkbox], 
#newBook fieldset label {
    display: inline;
}

#newBook fieldset label {
    display: inline;
    margin-right: 20px;
}

#newBook fieldset input[type=checkbox],
#newBook fieldset input[type=radio] {
    display: inline;
    margin-right: 5px;
}